@media only screen and (min-width: 860px) {

    header {
        display: flex;
        flex-direction: column;
    }

    main {
        max-width: 1200px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto auto;
        margin: 0 auto;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    #menu {
        display: none;
    }


    ul.navigation,
    ul.navigation.open {
        display: flex;
        justify-content: center;
        font-size: 24px;
    }


    header div {
        margin-top: 5px;
        flex-direction: column;
    }

    main h1 {
        text-align: center;
        margin: 0px 5px;
    }

    main hr {
        margin: 0px 5px;
    }

    .block {
        margin: 5px 5px;
    }

    .discover img {
        width: 600px;
    }

    .discover img:hover {
        box-shadow: 0 0 50px #333;

    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;

    }
}