@media only screen and (min-width: 860px) {

    header {
        display: flex;
        flex-direction: column;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        margin: 0 auto;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .calltoaction {
        font-size: x-large;
        gap: 20px;
    }

    #menu {
        display: none;
    }

    .formgrid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto auto;
        min-width: 90vw;
        margin: 0 auto;
        gap: 10px;
        margin-top: 10px;
        margin-bottom: 50px;
    }


    ul.navigation,
    ul.navigation.open {
        display: flex;
        justify-content: center;
        font-size: 24px;
    }


    header div {
        margin-top: 5px;
        flex-direction: column;
    }

    .discover {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto;
        margin: 0 auto;
        gap: 10px;
    }

    .main h1 {
        margin: 0px 5px;
    }

    main hr {
        margin: 0px 5px;
    }

    .block {
        margin: 5px 5px;
    }

    .discover img {
        width: 600px;
    }

    .discover img:hover {
        box-shadow: 0 0 50px #333;

    }

    footer {
        text-align: center;

    }

    .grid-directory {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}