* {
    margin: 0;
    padding: 1;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    display: block;
    text-align: center;
    padding: .75rem 0;
    display: block;
}

header {
    background-color: #080080;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

footer,
nav {
    background-color: #080080;
    color: white;
    text-align: center;

    a:hover {
        border: 5px solid #000000;
        color: #060120;
        justify-content: space-evenly;
    }

    a:active {
        color: green;
    }

    background-color: #36454f;
    margin: 0 auto;
    max-width: 900px;
}

nav ul {
    list-style-type: none;
    display: flexbox;
    justify-content: space-evenly;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.parent {
    margin: 1rem 2vw;
}


.parent section {
    border: 1px solid #415541;
    background-color: #e9f5e9;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;

}

.parent span {
    background-color: #415541;
    color: #fff;
    display: block;
    text-align: center;
    padding: .75rem 0;


}

.parent p {
    padding: 10px;


}