* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    display: block;
    text-align: center;
    padding: .75rem 0;
    display: block;
}

header {
    background-color: #080080;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    background-color: #080080;
    color: #ffffff;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "\00d7";
}

footer,
nav {
    background-color: #080080;
    color: white;
    text-align: center;
    background-color: #36454f;
    margin: 0 auto;
    max-width: 900px;
}

nav ul {
    list-style-type: none;
    justify-content: space-evenly;
}

ul:hover {
    border: 5px solid #000000;

}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;

}

a:hover {
    color: #060120;
}

a:visited {
    color: rgb(48, 163, 152);
}

a:visited:hover {
    color: rgb(0, 0, 0);
}

a:active {
    color: green;
}

.parent {
    margin: 1rem 2vw;
}


.parent section {
    border: 1px solid #415541;
    background-color: #e9f5e9;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;

}

.parent span {
    background-color: #415541;
    color: #fff;
    display: block;
    text-align: center;
    padding: .75rem 0;
    font-size: 1.25rem;


}



.parent p {
    padding: 10px;


}